<section>
  <div class="show-row flex-container">
    <div class="flex-cell-2-3">
      <h4><span>Name:</span> <%= @pet.name %></h4>
      <h4><span>Type:</span> <%= @pet.pet_type %></h4>
      <h4><span>Age:</span> <%= @pet.age %></h4>
      <p><span>Description:</span> <%= @pet.description %></p>
    </div>

    <div class="flex-cell-1-3 flex-right">
      <img src="<%= @pet.pic_url == nil ? @pet.pic_url : image_url("paw-print.png")%>" class="profile-pic">
    </div>
    <% if current_user.id == @pet.user_id %>
      <%= link_to "Edit Pet", edit_pet_path(@pet), class: "btn" %>
    <% end %>
  </div>
</section>
