
<section>
  <% @users.each_with_index do |user, i| %>
    <div class="show-row flex-container">

      <div class="flex-cell-2-3">
        <h4><span>Name:</span> <%= user.name_init %> </h4>
        <h4><span>Location:</span> <%= user.city %>, <%= user.state %></h4>
        <div class="star-box">
          <img src="<%= (i + 1) % 2 == 1 ? image_url('star-light.png') : image_url('star-dark.png') %>" class="star">
          <img src="<%= (i + 1) % 2 == 1 ? image_url('star-light.png') : image_url('star-dark.png') %>" class="star">
          <img src="<%= (i + 1) % 2 == 1 ? image_url('star-light.png') : image_url('star-dark.png') %>" class="star">
          <img src="<%= (i + 1) % 2 == 1 ? image_url('star-light.png') : image_url('star-dark.png') %>" class="star">
          <img src="<%= (i + 1) % 2 == 1 ? image_url('star-light.png') : image_url('star-dark.png') %>" class="star">
          <div class="star-bar-show" style="width: <%= user.avg_user_rating %>%;"></div>
        </div>
        <h6>(<%= link_to "#{user.num_reviews} reviews", "/users/#{user.id}/reviews" %>)</h6>
        <h4><span>Pets:</span>
          <% Pet.where("user_id = #{user.id}").each do |pet| %>
            <%= link_to "#{pet.name}", pet_path(pet.id) %><span>&nbsp</span>
          <% end %>
        </h4>
      </div>

      <div class="flex-cell-1-3 flex-right">
        <img src="<%= user.profile_pic_url != "" ? user.profile_pic_url : image_url("blank-profile-picture.png")%>" class="profile-pic">
      </div>

    </div>
  <% end %>
</section>
