
<section>
  <div class="user-profile">
  <h4>Name: <%= @user.first_name%> <%= @user.last_name%></h4>
  <h4>Email: <%= @user.email%></h4>
  <h4>Phone: <%= @user.phone%></h4>
  <h4>Address: <%= "#{@user.address}, #{@user.city}, #{@user.state} #{@user.zip_code}"%></h4>
  <h4>Bio:</h4>
  <p><%= @user.bio%></p>

  <%= link_to "Edit Profile", edit_user_registration_path %>
  </div>

  <div class="pet-profiles">
    <% @pets.each do |pet| %>
    <div>
      <h4>Name: <%= pet.name %></h4>
      <h4>Type: <%= pet.pet_type %></h4>
      <h4>Age: <%= pet.birth_date %></h4>
      <h4>Description:</h4>
      <p><%= pet.description %></p>
      <%= link_to "Edit Pet", edit_pet_path(pet) %>
    </div>
    <% end %>
  </div>
</section>
