<header class="profile-tabs">
  <h2 id="personal-tab" class="active-header">Personal</h2>
  <h2 id="pets-tab">Pets</h2>
</header>

<section>
  <div class="flex-container">
    <div class="user-profile active">
      <h4>Name: <%= @user.first_name%> <%= @user.last_name%></h4>
      <h4>Email: <%= @user.email%></h4>
      <h4>Phone: <%= @user.phone%></h4>
      <h4>Address: <%= "#{@user.address}, #{@user.city}, #{@user.state} #{@user.zip_code}"%></h4>
      <p>Bio: <%= @user.bio%></p>

      <%= link_to "Edit Profile", edit_user_registration_path %>
    </div>

    <div class="pet-profiles">
      <% @pets.each do |pet| %>
      <div>
        <h4>Name: <%= pet.name %></h4>
        <h4>Type: <%= pet.pet_type %></h4>
        <h4>Age: <%= pet.age %></h4>
        <p>Description: <%= pet.description %></p>
        <%= link_to "Edit Pet", edit_pet_path(pet) %>
      </div>
      <% end %>

      <%= link_to "Add Pet", new_pet_path %>
    </div>
  </div>
</section>
