<h2>User Rating</h2>
<section>
  <div class="form">
    <h4><span>Rating For:</span> <%= User.find(@rating.owner_id).name_init %></h4>

    <div class="star-box">
      <img src="<%= image_url("star.png") %>">
      <img src="<%= image_url("star.png") %>">
      <img src="<%= image_url("star.png") %>">
      <img src="<%= image_url("star.png") %>">
      <img src="<%= image_url("star.png") %>">
      <div class="star-bar-show" style="width: <%= @rating.star_width %>%;"></div>
    </div>

    <h4><span>Comment:</span> <%= @rating.comment %></h4>
    <h4><span>Reviewed By:</span> <%= User.find(@rating.reviewer_id).name_init %></h4>
  </div>
</section>
