
<h2><%= @reservation.res_type %></h2>
<section>
  <div class="form">
    <h4><span>Date:</span> <%= @reservation.res_date.strftime("%A %B %d, %Y") %></h4>
    <h4><span>Time:</span> <%= @reservation.res_time.strftime("%I:%M %p") %></h4>
    <h4><span>Created By:</span> <%= User.find(@reservation.created_by).name_init %></h4>
    <h4><span>Who's caring:</span> <%= @reservation.filled_by ? User.find(@reservation.filled_by).name_init : "No one yet" %></h4>
    <p><span>Details:</span> <%= @reservation.details %></p>

    <% if current_user.id == @reservation.created_by %>
    <div class="flex-cell-full center">
      <%= link_to "Update", edit_reservation_path(@reservation), class: "btn" %>
    </div>
    <% elsif current_user.id == @reservation.filled_by %>
      <% if @reservation.start_time.to_date.past? %>
        <%= link_to "Rate Caregiver", new_reservation_rating_path(@reservation), class: "btn" %>
      <% else %>
        <%= form_for @reservation do |f| %>
        <%= f.hidden_field :filled_by, :value => nil %>
        <%= f.submit "Cancel", class: "btn" %>
      <% end %>
    <% end %>
    <% else %>
      <%= form_for @reservation do |f| %>
      <%= f.hidden_field :filled_by, :value => current_user.id %>
      <%= f.submit "Sign up!", class: "btn" %>
      <% end %>
    <% end %>
  </div>
</section>
