<!DOCTYPE html>
<html>
<head>
  <title>PetShareProject2</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div class="side-nav">
    <% if !current_user %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Sign in", new_user_session_path %>
    <% else %>
      <%= link_to "Schedule", reservations_path %>
      <%= link_to "Users", users_path %>
      <%= link_to "Profile", "/users/#{current_user.id}"%>
      <%= link_to "My Reviews", "/users/#{current_user.id}/reviews"%>
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
      <h5>Signed in as</h5>
      <h5><%=  current_user.email %></h5>
    <% end %>
  </div>

  <nav>

    <div class="side-nav-head">
      <div class="hamburger">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
    </div>

    <div class="nav-head">
      <h1><a href="/">Pet, Care, Share.</a></h1>
    </div>
  </nav>

  <main>

  <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </main>

</body>
</html>
